// Loading
.loader {
  @include fillPosition();
  opacity: 0;
  pointer-events: none;
  z-index: 1000000;
  background: #191919;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: opacity .3s ease;

  .loading & {
    opacity: 1;
  }

  .zombie-loader {
    &:before {
      content: '';
      display: block;
      animation-duration: 0.7s!important;
    }
    transform: scale(0.5);
    margin-bottom: 20px;
  }

  span {
    animation: flash 1.8s ease infinite;
    color: #838383;
    font-size: 9px;
    position: absolute;
    bottom: 195px;
  }
}
